# R records
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Type of data
.csv
.rar
.zip
# Directories
Data/Demo/Survey/
Data/Transport/BRT/
Data/Transport/OSM/
Test/
# Jupyter Notebook records
.ipynb_checkpoints
Main_R.html
Main_R.Rmd
