# R records
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Type of data
.csv
.rar
.zip
# Directories
Data/Preprocessed/
Data/Raw/
Data/Results/After/
Data/Results/Before/
Data/Results/Metro/
Test/
Accessibility/
# Jupyter Notebook records
.ipynb_checkpoints
Main_R.html
Main_R.Rmd
